.home {
  @apply h-full w-full;
}

.firstSection {
  @apply top-0 w-full h-[39vw] md:h-[29vw] sm:h-[33vw];
}

.firstPoster, .firstPosterShadow {
  @apply absolute w-full h-[65vw] left-2/4 top-0 -translate-x-2/4 sm:h-[60vw] md:h-[65vw];
  z-index: -2;
}

.firstPosterShadow {
  z-index: -1;
  background:  linear-gradient(159deg, rgba(0,0,0,0.6153054971988796) 23%, rgba(73,71,74,0.6153054971988796) 45%, rgba(11,11,11,1) 86%);
}

.textWrapper {
  @apply mt-36 mx-44 flex flex-col justify-center items-center
  md:mt-20 md:mx-16 sm:mt-6 sm:mx-4 md:text-base sm:text-sm;
}

.head {
  @apply text-main-color text-6xl lg:text-6xl md:text-4xl sm:text-4xl;
}

.text {
  @apply text-main-white text-lg lg:text-lg mx-36 md:mx-12 sm:mt-8 sm:mx-4 sm:text-base;
}

.secondSection {
  @apply relative w-full h-[60vw] md:h-[40vw] sm:h-[60vw] bg-main-color;
}

.thirdSection {
  @apply relative w-full h-[43vw] lg:h-[43vw] md:h-[39vw] sm:h-[42vw];
}

.secondPoster, .secondPosterShadow {
  @apply relative w-full;
}

.secondPosterShadow {
  @apply absolute top-0 h-[42vw];
  z-index: 1;
  background:  linear-gradient(159deg, rgba(0,0,0,0.6153054971988796) 23%, rgba(73,71,74,0.6153054971988796) 45%, rgba(11,11,11,1) 86%);
}

.mockupWrapper {
    @apply absolute top-0 w-full h-[42vw] flex justify-center items-center;
    z-index: 2;
}
